* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8fafc;
}

/* ======= HEADER ======= */
.top-header {
  background-color: #e3f2fd;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.top-header .logo {
  width: 60px;
  height: auto;
}

.top-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #D32F2F;
}

/* dashboard.css */
.welcome-box h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.welcome-section {
    border-left: 5px solid #4f8ae2;
    border-radius: 12px;
    background-color: #f8f9fa;
    padding: 2px;
}

.card-body h3 {
  font-size: 24px;
}

.section-row {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}


.card-summary {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card-summary .card {
  max-width: 285px;
  min-width: 200px;
  box-sizing: border-box;
  background: #ffffff;
  padding: 10px;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.card-summary h3 {
  margin-bottom: 5px;
  font-size: 18px;
  color: #444;
}

.card-summary p {
  font-size: 17px;
  font-weight: bold;
  color: #2c3e50;
}

.card {
  background: #ffffff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.card-title {
  margin-top: 1px;
}

.card-text,.card-list {
  text-align: left;
}

.grafik-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 12px;
}

.grafik-wrapper .card {
  flex: 1;
  min-width: 300px;
  margin: 10px;
}


/* Chart box */
.chart-box {
    margin-top: 30px;
}


/* ======= MAIN LAYOUT ======= */
.main-container {
  display: flex;
}

/* ======= SIDEBAR ======= */
.sidebar {
  width: auto;
  background-color: #4a73b8;
  color: white;
  padding: 1rem 1rem;
  min-height: 100vh;
}

.sidebar .logo {
  display: block;
  margin: 0 auto 10px;
  width: 40px;
}

.sidebar.collapsed .logo {
  width: 40px;
  margin: 0 auto;
}

.profil-foto {
    width: 55px;
    height: 55px;
    object-fit: cover;
    margin-bottom: 0.5rem;
    margin-top: 2px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.profile {
  text-align: center;
  margin-bottom: 1.5rem;
}

.profile img {
  width: 55px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  margin-top: 2px;
}

.profile h3 {
  font-size: 1.2rem;
}

.profile-foto span {
  font-size: 0.85rem;
  color: #cde3ff;
}

.menu a {
  display: block;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 0.95rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.menu a:hover {
  background-color: #ffffff;
  color: #D32F2F;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  transform: translateY(-2px);
  font-weight: 600;
}

.menu a i {
  margin-right: 10px;
  transition: color 0.3s ease;
}

.menu a:hover i {
  color: #D32F2F;
}

/* ======= MAIN CONTENT ======= */
.dashboard-content {
  flex: 1;
  padding: 2 rem;
  color: #22385b;
}

.welcome-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.info-box {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #e5e7eb;
}

.card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  flex: 1;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

/* CSS custom untuk memperkecil popup SweetAlert */
.swal2-popup.custom-swal {
  font-size: 14px;
  padding: 1.5rem;
}


/* TABELL */

.table-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-top: 20px;
  overflow-x: auto;
}

.table-container h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
}

.card table.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
}

table.table th, table.table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

table.table th {
  background-color: #f0f4f8;
  color: #2c3e50;
  font-weight: 600;
}


/* BUTTON */

.btn-tambah, .btn-upload, .btn-download {
  padding: 8px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-tambah {
  background-color: #3498db;
}

.btn-tambah:hover {
  background-color: #2980b9;
}

.btn-upload {
  background-color: #4caf50;
}

.btn-upload:hover {
  background-color: #b4b4b4;
}

.btn-download {
  background-color: #4caf50;
  text-decoration: none;
}

.btn-download:hover {
  background-color: #b4b4b4;
}


/* === Sidebar Toggle === */
.sidebar-toggle {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
  margin-left: 15px;
  top: 5px;
  right: 20px;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

.sidebar.collapsed .menu .menu-text {
  display: none;
}

.sidebar.collapsed {
  width: 60px;
  transition: all 0.3s ease;
}

.sidebar.collapsed .menu a {
  justify-content: center;
  padding: 10px;
}

.sidebar.collapsed .menu a .menu-text,
.sidebar.collapsed .profile h3,
.sidebar.collapsed .profile span {
  display: none;
}

.sidebar.collapsed .sidebar-toggle {
  right: 10px;
}

.sidebar.collapsed .profile {
  padding: 0;
}

.sidebar.collapsed .profil-foto {
  width: 28px;
  height: 28px;
}

.dashboard-content {
  flex: 1;
  padding: 2rem;
  color: #22385b;
  transition: all 0.3s ease;
}

.main-container {
  transition: all 0.3s ease;
}

.sidebar.collapsed + .dashboard-content {
  margin-left: 60px;
}

/* FORM UNTUK DI SETELAH KLIK TAMBAH DATA */
.form-container {
  max-width: 700px;
  margin: 40px auto; /* Tengah secara horizontal */
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-container h4 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  display: block;
  text-align: left;
  margin-bottom: 5px;

}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn-form {
  padding: 10px 20px;
  margin-inline: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  min-width: 120px;
  vertical-align: middle;
  line-height: 1.5;
  font-size: 14px;
  cursor: pointer;
}

.btn-form.primary {
  background-color: #3498db;
  color: white;
}

.btn-form.primary:hover {
  background-color: #2980b9;
}

.btn-form.secondary {
  background-color: #ccc;
  color: #2c3e50;
}

.btn-form.secondary:hover {
  background-color: #b4b4b4;
}

.dataTables_wrapper .dataTables_filter input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-left: 10px;
}

.dataTables_wrapper .dataTables_filter {
  float: right;
  margin-bottom: 10px;
}


